django==2.2.13
djangorestframework==3.11.0
django-storages[google]
gunicorn==20.0.4

numpy==1.16.4
seaborn
matplotlib
pandas==1.0.2
firebase-admin
python-dotenv
screen

google-api-core==1.17.0
google-cloud-bigquery==1.23.0
google-cloud-bigquery-storage==0.7.0
google-cloud-storage==1.23.0

# For Nudenet
keras==2.2.4
opencv-python
keras-retinanet==0.5.1
pydload
scikit-image